@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');


* {
    font-family: 'Quicksand', sans-serif;

}

.sec-mainDark {
    background-image: linear-gradient(to right, rgb(25, 20, 42), rgb(36, 31, 62));
    justify-content: start;
    transition: all 1s;
    /* border: 2px solid; */
    /* align-items: center; */
    /* height: 100vh; */
    overflow: hidden;
}

.sec-mainLight {
    background-image: linear-gradient(to right bottom, #ae95ff, rgb(210, 103, 117), rgb(36, 31, 62));
    justify-content: start;
    transition: all 1s;
    /* border: 2px solid; */
    /* align-items: center; */
    /* height: 100vh; */
    overflow: hidden;
}

.front-main {
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 80vh; */
    /* height: 60vh; */
    /* border: 2px solid; */
    animation-name: fade-scale;
    animation-duration: 2s;
    animation-iteration-count: 1;
    overflow: hidden;
    /* margin: 0 10vw;  */
}

.snapDark,
.snapLight {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fade-left;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.snapDark img,
.snapLight img {
    border-radius: 50pc;
    background-image: linear-gradient(to right bottom, rgb(132, 30, 63, 0.6), rgb(132, 30, 63), rgb(213, 33, 58) 80%);
    content: url('./snap_full.png');
    width: 90%;
    height: 100%;
    margin: 5.5vh 0;
}

.snapLight img {
    background-image: linear-gradient(to left bottom, #ae95ffab, rgb(210, 103, 117, 0.4));
}


.wlc {
    /* display: inline; */
    margin: 0px 10vw;
    overflow: hidden;
    border-radius: 3px;

}

.wlc p {
    background-color: rgb(132, 30, 63, 0.6);
    width: 129px;
    color: white;
    font-size: 1.2rem;
    padding: 8px 12px;
    border-radius: 3px;
}

.name {
    /* display: inline; */
    margin-top: 10px;
    margin: 0px 10vw;
    overflow: hidden;
    border-radius: 10px;
}

.name p {
    font-size: 3.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.pro {
    /* font-size: 1rem; */
    color: rgb(255, 255, 255, 0.7);
    margin: 0 10vw;
}

.desc {
    font-size: 1.2rem;
    color: rgb(255, 255, 255, 0.9);
    /* margin: 15px 0; */
    margin: 15px 10vw;
    text-align: justify;
}

/* ------------------------------Typing Animation----------------------- */
@keyframes typing {
    0% {
        margin: 0;
    }

    100% {
        left: 100%;
        margin: 10px -35px 10px 25px;
    }
}

@keyframes scrolling {
    100% {
        top: -240px;
    }
}


.typeList {
    list-style: none;
    height: 50px;
    overflow: hidden;
}

.typeList li {
    color: white;
    font-size: 40px;
    line-height: 60px;
    font-family: monospace;
    position: relative;
    top: 0;
    margin: 0;
    animation: scrolling 8s steps(4) infinite;
}

.typeList li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgb(25, 20, 42);
    border-left: 2px solid white;
    animation: typing 2s steps(15) infinite;
}

/* -----------------------------------------------------------------     */

@media screen and (min-width: 849px) and (max-width: 1023px) {

    .wlc,
    .desc {
        font-size: 1.02rem;
    }

    .name {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 850px) {

    .snapLight img,
    .snapDark img {
        /* background: none; */
        /* content: url('../Images/snapp-removebg-preview.png'); */
        width: 40vw;
    }
}


@media screen and (max-width: 750px) {

    .snapLight img,
    .snapDark img {
        content: url('./snapp-removebg-preview.png');
    }

    .snapLight img {
        background-image: linear-gradient(to right bottom, #ae95ffab 40%, rgb(210, 103, 117, 0.4));
    }

    .sec-mainDark,
    .sec-mainLight {
        flex-direction: column-reverse;
    }

    .front-main {
        margin-bottom: 10vh;
        margin-top: 1vh;
        align-items: center;
    }

    .wlc,
    .name,
    .pro {
        margin: 0 0vw;
        text-align: center;
    }

    /* .front-main {
        margin: 0;
    } */

    .name {
        font-size: 2.4rem;
    }

    .desc,
    .wlc {
        font-size: 1.02rem;
    }

    .desc {
        margin: 0;
        text-align: justify;
    }
}

.fade-up {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%) scale(0.4);
    transition: all 2s;
}

.fade-right {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
    transition: all 2s;
}

.fade-right-fast {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
    transition: all 1s;
}

.fade-left {
    opacity: 0;
    transform: translateX(25%) scale(0.7);
    filter: blur(5px);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0) translateX(0) scale(1);

}